@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$verywhite: #fff;
$primary-color: #333;
$bodybackgroundgrey: #CCCCCE;
/* disabled input & button background, input addon background, nav & tabs & pagination link hover background, jumbotron background, currently PALEBLUE*/
$buttonhoversjumbobg: #4EA0E1;
/* disabled link color, input placeholder color, dropdown header color, navbar inverse & link color, currently DARK ORANGE */
$disabledlink: #BE6747;
/* nav tab link hover color, currently PALEDARKBLUE */
$navtablinkhover: #436AA2;
/* link color, primary button background, pagination active background, progress bar background, label background, panel heading color, currently DARKGREY */
$links: #4E4D5E;
/* text color, legend color, dropdown link color, panel text color, code color, currently NAVYBLUE */
$text: #292D4B;
/* navbar inverse background, currently BLACK */
$navbarinverse: #121320;

$fontsize: 15px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  background: $verywhite;
}

#navbar {
	a {
		color: $disabledlink;
	}

	a:hover {
		color: $navtablinkhover;
	}	
}

.jumbotron {
	padding: 15px 0;
	margin-bottom: 0px;
}

.apptitle {
	background: $verywhite;
}

.login {
	background: $buttonhoversjumbobg;

	p {
		font-size: $fontsize;
	}

	.loginright {
		text-align: center;
		padding: 15px;

		#loginBlock {
		width: 100%;

			img{
				
			}
		}
	}
}

.contact {
	background: $verywhite;

	p {
		font-size: $fontsize;
	}

	.container{
		.col-md-4{
			text-align: center;
		}
	}

	#aCanvas {
				
	}
	#myCanvas {
		width : 100%;
		height : 100%;
	}
}

.features {
	background: $navtablinkhover;

	p {
		font-size: $fontsize;
	}

	p, h2, h3, h4, label {
		color: #fff;
	}

	.container{
		.col-md-4{
			text-align: center;
		}
	}
}

#videos {

	p{
		font-size: 18px;
		background: $disabledlink;
		font-weight: bold;
		padding: 10px;
		color: #fff;
	}

	iframe { 
		text-align: center;
		width: 400px;
		height: 225px;
		margin-bottom: 20px;

		/* Small devices (tablets, 768px and up) */
		@media (min-width: 768px) { 
			width: 450px;
			height: 243px;
		}

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: 992px) { 
			width: 100%;
			
		}

		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: 1200px) { 
			width: 100%;
			height: 306px;
		}
	}
}

#friends{
	.friend {
		text-align: center;

		p{
			font-weight: bold;
			font-size: 15px;
		}

		a:hover{
			img {
			    opacity: 0.4;
			}
		}

		a {


			img {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}

#logobox{
	text-align: center;
	padding: 20px 0;

	img {
		width: 70%;
	}
}

#logoutnav{
	display: none;
}

.round-image {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.footer {
  padding: 15px;
  background-color: $navbarinverse;

  p{
  	margin: 0;
  	padding: 0;
  }
}

