@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$verywhite: #fff;
$primary-color: #333;
$bodybackgroundgrey: #CCCCCE;
/* disabled input & button background, input addon background, nav & tabs & pagination link hover background, jumbotron background, currently PALEBLUE*/
$buttonhoversjumbobg: #4EA0E1;
/* disabled link color, input placeholder color, dropdown header color, navbar inverse & link color, currently DARK ORANGE */
$disabledlink: #BE6747;
/* nav tab link hover color, currently PALEDARKBLUE */
$navtablinkhover: #436AA2;
/* link color, primary button background, pagination active background, progress bar background, label background, panel heading color, currently DARKGREY */
$links: #4E4D5E;
/* text color, legend color, dropdown link color, panel text color, code color, currently NAVYBLUE */
$text: #292D4B;
/* navbar inverse background, currently BLACK */
$navbarinverse: #121320;

$fontsize: 15px;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  background: $verywhite;
}

#navbar {
	a {
		color: $disabledlink;
	}

	a:hover {
		color: $navtablinkhover;
	}	
}

.jumbotron {
	padding: 15px 0;
	margin-bottom: 0px;
}

.apptitle {
	background: $verywhite;
}

.login {
	background: $buttonhoversjumbobg;

	p {
		font-size: $fontsize;
	}

	.loginright {
		text-align: center;
		padding: 15px;

		#loginBlock {
		width: 100%;

			img{
				
			}
		}
	}
}

.contact {
	background: $verywhite;

	p {
		font-size: $fontsize;
	}
}

.features {
	background: $navtablinkhover;

	p {
		font-size: $fontsize;
	}

	p, h2, h3, h4, label {
		color: #fff;
	}
}

.footer {
  padding: 15px;
  background-color: $navbarinverse;

  p{
  	margin: 0;
  	padding: 0;
  }
}

